<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_item_qty_set_after">
        <observer name="availableqty_sales_quote_item_qty_set_after" instance="Metagento\AvailableQty\Observer\Frontend\SalesQuoteItemQtySetAfter" />
    </event>
</config>
