<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu>
    <add id="Metagento_AvailableQty::settings"
         title="Available Qty Settings" module="Metagento_AvailableQty"
         parent="Magento_Catalog::catalog"
         action="adminhtml/system_config/edit/section/availableqty"
         resource="Metagento_AvailableQty::settings" sortOrder="100"/>
</menu>
</config>